<!DOCTYPE html>
<html>
<head>
	<title>Statistical Model</title>
	<style>
		body{
			margin-top :200px;
			background-color:lightgray;
			font-weight:Bold;
			font-size:200%;
			color:darkgreen;
			}
		input{
			font-weight:Bold;
			font-size:100%;
			color:darkblue;
			margin-left:30px;
			}
		p{
			margin-left:40%;
		}
	</style>
</head>
<body>
<center>
	<form action="/form" method="POST">
		<label>Enter Query : </label>
		<input type="text" name="x"><br><br>
		<input type="submit" value="Show Sim" name="s"><input type="submit" value="Random Generate" name="r">
	</form></center>
<br><p>
{{x}}
<br>	
{{y}}
<br>
{{z}}
<br>
{{c}}
</p>	
</body>
</html>